.App {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 20px;
    padding: 20px;
}

ol {
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 18px;
    word-spacing: 5px;
    color: #333;
}

.App h1 {
    color: green;
}